<!DOCTYPE html>
<html>
<head>
    <title>Documentele Utilizatorului</title>
    {% load static %}
    {% load custom_filters %}
    <link rel="stylesheet" type="text/css" href="{% static 'cmr_app/styles.css' %}">
</head>
<body>
    <h1>Documentele încărcate de {{ user.username }}</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Fisier</th>
            <th>Incarcat la</th>
        </tr>
        {% for document in documents %}
        <tr>
            <td>{{ document.id }}</td>
            <td><a href="{{ document.file.url }}">{{ document.file.name|basename }}</a></td>
            <td>{{ document.uploaded_at }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'cmr_app:dashboard' %}" class="button">Înapoi la Dashboard</a>
</body>
</html>
